#pane-cadastro-materia {
	-fx-background-image : url('file:resources/img/bg-principal.jpg');
}

#botao-voltar {
	-fx-background-color : #1BBC9B;
	-fx-text-fill : white;
	-fx-font-size : 15;
	-fx-min-width: 70;
}

#label-titulo {
    -fx-background-color : #ea2e56;
    -fx-font-size : 20;
    -fx-border-color : white;
    -fx-text-fill : white;
    -fx-min-width : 200;
    -fx-min-height : 50;
    -fx-alignment : center;
}

#textfield-descricao {
    -fx-min-width : 250;
    -fx-min-height : 50;
}


#botao-cadastrar {
	-fx-background-color : #01c2fd;
	-fx-text-fill : white;
	-fx-font-size : 15;
	-fx-min-width : 130;
	-fx-min-height : 40;
}