#pane-materia-detalhes {
	-fx-background-image : url('file:resources/img/bg-principal.jpg');
}

#botao-voltar {
	-fx-background-color : #1BBC9B;
	-fx-text-fill : white;
	-fx-font-size : 15;
	-fx-min-width: 70;
}

.botao-aula-naoconcluida {
	-fx-background-color : #FF9900;
	-fx-text-fill : white;
	-fx-font-size : 22;
	-fx-min-width : 140;
	-fx-max-width : 140;
	-fx-min-height : 100;
	-fx-alignment : center;
}


.botao-aula-concluida {
	-fx-background-color : #23B2DC;
	-fx-text-fill : white;
	-fx-font-size : 22;
	-fx-min-width : 140;
	-fx-max-width : 140;
	-fx-min-height : 100;
	-fx-alignment : center;
}

