#pane-cadastro-horario {
	-fx-background-image : url('file:resources/img/bg-principal.jpg');
}

#label-titulo {
	-fx-text-fill : white;
	-fx-background-color : #FD3395;
	-fx-font-size: 20;
	-fx-min-height : 50;
	-fx-border-radius : 4;
	-fx-min-width: 250;
	-fx-alignment : center;
}

#label-dias-semana {
	-fx-font-size : 14;
	-fx-background-color : #FD3395;
	-fx-text-fill : white;
	-fx-min-height : 20;
	-fx-alignment : center;
}

#botao-voltar {
	-fx-background-color : #1BBC9B;
	-fx-text-fill : white;
	-fx-font-size : 15;
	-fx-min-width: 70;
}

#botao-nova-materia {
	-fx-background-color : #996383;
	-fx-text-fill : white;
	-fx-min-width : 150;
	-fx-min-height : 40;
	-fx-font-size : 15;
}

#label-materias {
	-fx-font-size : 14;
	-fx-background-color : #FD3395;
	-fx-text-fill : white;
	-fx-min-height : 20;
	-fx-alignment : center;
}

#botao-cadastrar {
	-fx-background-color : #01c2fd;
	-fx-text-fill : white;
	-fx-font-size : 15;
	-fx-min-width : 130;
	-fx-min-height : 40;
}